* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

section {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 40px;
    align-items: center;
}

section h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
}

section p {
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 15px;
    margin-left: 100px;
    margin-top: 15px;
}

.king {
    height: 30%;
}

section img {
    height: 50%;
}

#consulta {
    text-decoration: none;
    background: none;
    border: none;
    margin-left: auto;
    padding: 0;
    border-radius: 0px;
    width: auto;
    color: blue;

}

section a {
    display: inline-block;
    padding: 7px 0px;
    margin-left: 50%;
    color: white;
    text-decoration: none;
    width: 100px;
    text-align: center;
    border: 1px solid #4F359B;
    border-radius: 50px;
    background: #4F359B;
    transition: all 300ms ease;
}

section a:hover {
    background-color: #9985D5;
    border: #9985D5;
    color: white;
}


section:nth-child(1) {
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

section:nth-child(2) {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

section:nth-child(3) {
    background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
}

section:nth-child(4) {
    background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
}

@media screen and (max-width:1000px) {
    section{
        flex-direction: column-reverse;
        justify-content: center;
    }

    section  > img{
        height: 40%;
    }

    .biod {
        height: 30%;
    }

    section p {
        font-size: 15px;
        margin-left: 0;
    }

    .contenedor-texto {
        text-align: center;
    }
}

.container, .button, .nav {
    position: absolute;
   
}

.container {
    margin: auto;
    top: 85%;
    left: 90%;
    margin-left: -20px;
    position: fixed;
}

#toggle {
    display: none;
}

.button{
    z-index: 999;
    width: 43px;
    height: 43px;
    background: #f28482;
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
    box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: fixed;
}

.button::before {
    position: absolute;
    top: 20px;
    left: 9px;
    content: '';
    width: 25px;
    height: 2px;
    background: #fff;
    transform: rotate(90deg);
}

.button::after{
    position: absolute;
    top: 20px;
    left: 9px;
    content: '';
    width: 25px;
    height: 2px;
    background: #fff;
}

.nav {
    transform: translateY(-30%);
    opacity: 0;
    top: -200px;
    left: -50px;
    transition: all 0.5s ease-in-out;
    background: white;
    width: 150px;
    border-radius: 5px;
    transform: translateY(30%);
    box-shadow: 2px 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.nav a {
    text-align: center;
    display: block;
    margin: 20px 0;
    color: #f08482;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#toggle:checked ~ .nav {
    opacity: 1;
    transform: translateY(0%);
}

#toggle:checked ~ .button {
    transform: rotate(135deg);
    box-shadow: 0 0 0 0 transparent;
}

@media screen and (max-width:1000px) {
    .container {
        height: 100%;
        width: 10%;
        left: 0%;
        top: 0%;
        margin-left: 0%;
    }

    .button {
        z-index: 999;
        width: 5%;
        height: 100%;
        width: 5%;
        background: #CC3363;
        transition: all 0.5s ease-in-out;
        box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.3);
        cursor: pointer;
        position: fixed;
        border-radius: 0;
    }

    .button::before {
        position: absolute;
        opacity: 0;
    }

    .button::after{
        position: absolute;
        opacity: 0;
    }

    .nav {
        transform: translateX(-10%);
        opacity: 0;
        top: 20%;
        left: 25%;
        transition: all 0.5s ease-in-out;
        background: #5911A7;
        width: 200%;
        box-shadow: 2px 3px 10px 0 rgba(0, 0, 0, 0.1);
    }

    .nav a {
        text-align: center;
        display: block;
        margin: 40px 0;
        color: white;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    #toggle:checked ~ .nav {
        opacity: 1;
        z-index: 999;
        
    }

    #toggle:checked ~ .button {
        transform: scale(9,1);
        box-shadow: 0 0 0 0 transparent;
    }
}
